{% load staticfiles %}<!DOCTYPE html> 
<html> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta NAME="AUTHOR" CONTENT="Marcelo Gaia" />
		<meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC " />
		<meta HTTP-EQUIV="CONTENT-LANGUAGE" CONTENT="pt_BR,en-US" />
		<meta HTTP-EQUIV="EXPIRES" CONTENT="0" />
		<meta HTTP-EQUIV="PRAGMA" CONTENT="PUBLIC " />
		<meta NAME="ROBOTS" CONTENT="ALL" />
		<meta NAME="GOOGLEBOT" CONTENT="NOARCHIVE" />

		<title>{% block title %}{% endblock %}</title> 
		<link rel="stylesheet" type="text/css" href="{% static "/_portfolio/static/css/main.css" %}"></style>

	</head> 
	<body>
		<div id="geral">
			<div id="geral-html">
				<div id="header">
					<div class="header-logo">
						<span class="logo">marcelo<strong>gaia</strong></span>
						<span class="php">Web Developer</span>
					</div>
					<div class="header-contato">
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">		
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-23422459-1']);
			_gaq.push(['_trackPageview']);
			
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>

	</body> 
</html>